* {
  margin: 0;
}
:root {
  --color-font:#daa520;
  --background-color: #000000;
  --color-transition: #ecaf14;
}
body {
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5em 0;
  align-content: center;
  justify-content: center;
  Height: 100vh;
  Width: 100vw;
  min-width: 380px;

}
.container {
  color: var(--color-font);
  font-size: 1.2em;
  text-transform: uppercase;
} 
.card-container {
  position: relative;
  bottom: -2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
main {
  text-align: center;
  justify-content: center;
}
main img {
  background-position: center;
  position: relative;
  bottom: -8.5em;
  height: 10em;
  width: 10em;
  clip-path: circle(50% at 50% 50%);
}
main h1 {
  margin-top: 5em;
}
main p {
  margin-top: 1em;
}
ul {
  align-items: center;
  display: flex;
  margin-left: 50%;
  margin-right:50%;
}
li {
  list-style-type: none;
  margin: 0 1em;
  position:relative;
  left:-13.2em;
  top:10em;
}
footer {
  text-align: center;
}
footer img {
  position: absolute;
  z-index: -2;
  margin-left:-12em;
  margin-top:-2em;
  filter: brightness(25%);
}
button {
  background-color: var(--background-color);
  color: var(--color-font);
  border: solid 4px var(--color-font);
  border-radius: 0.8em;
  padding: 10px;
  margin: 8em 0;
  position: relative;
  bottom: -9em;
}
.navigation-container img:hover {
  height:2em;
  transition: 4s;
}
